.App {
  width: 350px;
  background-color: var(--Dark-Blue);
  padding: 2rem;
  border-radius: 20px;
}

.submit-button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 1.5rem;
  background-color: var(--Orange);
  color: var(--White);
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
}