.App {
  width: 350px;
  background-color: var(--Dark-Blue);
  background: radial-gradient(at top, hsl(214, 16%, 17%), hsl(214, 22%, 12%));
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem;
}

.submit-button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 1.5rem;
  background-color: var(--Orange);
  color: var(--White);
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
}

.submit-button:hover {
  background-color: var(--White);
  color: var(--Orange);
}