/*
- Mobile: 375px
- Desktop: 1440px
*/

:root {
  /* Primary */
--Orange: hsl(25, 97%, 53%);

/* Neutral */

--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);

/* Typography */
--Base-Font-Size: 15px;
--Family: 'Overpass';

--Heavy: 700;
}

body {
  margin:0;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
  font-family: var(--Family);
  display: flex;
  justify-content: center;
  align-items: center;
}