button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 50%;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    padding: 1rem;
}

.selected {
    background-color: var(--Medium-Grey);
}