.rating-button {
    display: inline-block;
    text-decoration: none;
    background: var(--Dark-Blue);
    color: var(--White);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border: 0;
    text-transform: uppercase;
    transition: background-color .2s;
}

.selected {
    background-color: var(--Gray);
}

button:hover {
    background-color: var(--Orange);
}